* {
  box-sizing: border-box;
  margin: 0;
}

.parent {
  margin: 0 auto;
  background-color: gray;
  width: 600px;
}

.child {
  text-align: center;
  width: 300px;
  height: 200px;
  line-height: 200px;
}

.red {
  background-color: red;
  float: left;
}

.yellow {
  background-color: yellowgreen;
  float: left;
}

.green {
  background-color: green;
}
